<simple-notifications></simple-notifications>
<div class="cards">
    <div class="card-items">
        <div class="card-item">
            <button routerLink="/bank/newbank"  class="btn btn-info"><i class="fa fa-plus"></i><span>New Bank</span> </button>
        </div>
        <div class="card-item">
            <button routerLink="/bank/bankdetails"  class="btn btn-info"><i class="fa fa-plus"></i><span> Bank Amount </span> </button>
        </div>
        <div class="card-item">
            <button routerLink="/bank/sendtocash"  class="btn btn-info"><i class="fa fa-paper-plane"></i><span> Send To Cash </span> </button>
        </div>
        <div class="card-item">
            <button routerLink="/bank/showacc"  class="btn btn-info"><i class="fa fa-bank"></i><span> Bank Amount </span> </button>
        </div>
    </div>
</div>
<router-outlet></router-outlet>