<simple-notifications></simple-notifications>
<div class="cards">
    <div class="card-items">
        <div class="card-item">
            <button routerLink="/suppliyer/new" class="btn btn-info"><i class="fa fa-plus"></i><span> New Suppliyer</span> </button>
        </div>
        <div class="card-item">
            <button routerLink="/suppliyer/suppliyerReport" class="btn btn-info"><i class="fa fa-list"></i><span>Suppliyer Report</span> </button>
        </div>
        <div class="card-item">
            <button routerLink="/suppliyer/pReport" class="btn btn-info"><i class="fa fa-money"></i><span>Payment Report</span> </button>
        </div>
    </div>
</div>
<router-outlet></router-outlet>