<simple-notifications></simple-notifications>
<div class="cards">
    <div class="card-items">
        <div class="card-item">
            <button routerLink="/sales/new"  class="btn btn-info"><i class="fa fa-plus"></i><span >New Sales</span> </button>
        </div>
        <div class="card-item">
            <button routerLink="/sales/sduepaid"   class="btn btn-info"><i class="fa fa-credit-card"></i><span> Sales Due
                    Paid</span> </button>
        </div>
        <div class="card-item">
            <button routerLink="/sales/salesacc"   class="btn btn-info"><i class="fa fa-money"></i> <span style="padding-left: 10px;">Sales Account</span></button>
        </div> 
        <div class="card-item">
            <button routerLink="/sales/salesproduct"   class="btn btn-info"><i class="fa fa-product-hunt"></i> <span style="padding-left: 12px;">Sales
                    Product</span></button>
        </div>
        <div class="card-item">
            <button routerLink="/sales/salesbycustommer"   class="btn btn-info"><i class="fa fa-users"></i> <span>Sales By
                Custommer</span></button>
        </div>
        <div class="card-item">
            <button routerLink="/sales/salesbybill"   class="btn btn-info"><i class="fa fa-list"></i> <span  style="padding-left:10px;"> Product By Bill
                    No</span></button>
        </div>
        <div routerLink="/sales/salesbydate"   class="card-item">
            <button class="btn btn-info"><i class="fa fa-calendar"></i> <span>Surch By Date</span></button>
        </div>
    </div>
</div>
<router-outlet></router-outlet>