 
.tableDesign{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
}

.form-hader label{
    font: optional;
    font-size: 15px;
    padding: 5px;
    margin-left: 15px;
}
.form-hader input{
    font: optional;
    font-size: 15px;
    padding: 5px;
}

.table-design{
    margin-top: 1rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    
}

.styled-table {
    border-collapse: collapse;
    font-size: 0.9em;
    width: 100%;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table-design thead tr{
    position: sticky;
    top: 0;
}

.styled-table thead tr {
    background-color: #9bcef5;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody td {
    font-size: 12px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
.styled-table tbody tr td{ 
    vertical-align: top;
    text-align: left;
}
.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

