<div class="main-tableDesign">
    <div class="form-hader search2"> 
        <div class="surch-header">
            <div class="dropdown">
                <div class="select">
                    <label for="suppliyername">Suppliyer Name :</label>
                    <input id="suppliyername" autocomplete="off"
                    onkeyup="surching.serrchFormDropDown('suppliyername','suppliyerlist')" type="text"
                    value="{{suppliyername}}">
                    <i class="fa fa-chevron-left"></i>
                </div>
                <ul id="suppliyerlist" class="dropdown-menu">
                    <li *ngFor="let p of allSuppliyer" (click)="setInvioceItem(p)"
                        id="male">
                        <img src="{{suppliyeriamge}}/{{p.Suppliyer_Image}}" alt="" width="30px" height="30px">
                        <span>{{p.Company_Name}}/{{p.Address}}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="surch-header">
            <div class="dropdown">
                <div class="select">
                    <label for="invoiceno">Select Invoice No :</label>
                    <input id="invoiceno" onkeyup="surching.serrchFormDropDown('invoiceno','invoicelist')"
                    type="text" autocomplete="off"
                    value="{{invoiceno}}">
                    <i class="fa fa-chevron-left"></i>
                </div>
                <ul id="invoicelist" class="dropdown-menu">
                    <li *ngFor="let p of allInvoiceAcc" (click)="setInvoice(p)" id="male">
                        <span>{{p.Invoice_No}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div> 
    <div class="table-design">
        <table id="surchtable" class="styled-table">
            <thead>
                <tr>
                    <td>Inoive NO</td>
                    <td>Date</td>
                    <td>Category</td>
                    <td>Product</td>
                    <td>Quantaty</td>
                    <td>Price</td>
                    <td>Total</td>
                    <td>Return Quantaty</td>
                    <td>Last Quantaty</td>
                    <td>Last Total</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                <tr  *ngFor="let p of tableItem">
                    <td>{{p.Invoice_No}}</td>
                    <td>{{p.Purchase_Date}}</td>
                    <td>{{p.category.Name}}</td>
                    <td>{{p.product.Product_Name}}</td>
                    <td>{{p.Quantaty}}</td>
                    <td>{{p.Producut_Price}}</td>
                    <td>{{p.Total_Price}}</td>
                    <td><input type="number" (change)="setReturnQuantaty($event,p)"  style="width: 80px; height: 30px;"></td>
                    <td>{{p.returnlastQuan}}</td>
                    <td>{{p.returnlastPrice}}</td>
                    <td><i (click)="submitreturn(p)" class="fa fa-paper-plane"></i></td>

                </tr>
            </tbody>
            <thead> 
                <tr>
                    <td>Total </td>
                    <td></td>
                    <td>Item  : <b  id="totalitem" value="">{{totalItem}}</b></td>
                    <td>Quantaty</td>
                    <td> <b  id="totalquentaty" value="">{{totalQuentaty}}</b></td>
                    <td>Amount</td>
                    <td><b  id="totalamount" value="">{{totalAmount}}</b></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
        </table>
    </div>
</div>
