<simple-notifications></simple-notifications>
<div class="cards">
    <div class="card-items">
        <div class="card-item">
            <button routerLink="/custommer/new" class="btn btn-info"><i class="fa fa-plus"></i><span>New Custommer</span> </button>
        </div>
        <div class="card-item">
            <button routerLink="/custommer/custommerReport" class="btn btn-info"><i class="fa fa-list"></i><span>Custommer Report</span> </button>
        </div>
        <div class="card-item">
            <button routerLink="/custommer/pReport" class="btn btn-info"><i class="fa fa-money"></i><span>Payment Report</span> </button>
        </div>
    </div>
</div> 
<router-outlet></router-outlet>