<simple-notifications></simple-notifications>
<div class="cards">
    <div class="card-items">
        <div class="card-item"> 
            <button routerLink="/account/accamount" class="btn btn-info"><i class="fa fa-plus"></i><span>Cash Amount</span>
            </button>
        </div>
        <div class="card-item">
            <button routerLink="/account/cost"  class="btn btn-info"><i class="fa fa-plus"></i><span>Costing Details</span> </button>
        </div>
        <div class="card-item">
            <button routerLink="/account/invest" class="btn btn-info"><i class="fa fa-money"></i><span>Investing Details</span>
            </button>
        </div>
        <div class="card-item">
            <button routerLink="/account/loan" class="btn btn-info"><i class="fa fa-money"></i> <span> All Loan Details
                    </span></button>
        </div>
        <div class="card-item">
            <button routerLink="/account/sendtobank" class="btn btn-info"><i class="fa fa-paper-plane"></i> <span> Send To Bank
                    </span></button>
        </div>
    </div>
</div>
<router-outlet></router-outlet> 