<div class="purchasesMain">
    <div class="formDesign">
        <div class="form-hader">
            <h4>Fill All field for Enter new Product</h4>
        </div>  
        <div class="form"> 
            <form  [formGroup]="form" >
                <div class="input-group">
                    <select name=""
                    [formControl]="$any(form).controls['bank_id']" id="position">
                        <option value="none" disabled>Select One</option>
                        <option *ngFor="let p of allbank" value="{{p.id}}">{{p.bank_name}} - {{ p.account_number}}</option>
                    </select> 
                    <label for="position">Select Bank</label>
                </div>


                <div class="input-group">
                    <input type="text" name="" [formControl]="$any(form).controls['details']" id="bankid" placeholder=" " />
                    <label for="bankid">Details</label>
                </div>
                
                <div class="input-group">
                    <input type="number" name="" [formControl]="$any(form).controls['amount']" id="bankname" placeholder=" " />
                    <label for="bankname">Amount</label>
                </div>

                <div class="radiobuttondesing search2">
                    <div class="radio-group">
                        <label for="devit">Devit</label> <input type="radio" [formControl]="$any(form).controls['Status']"value="Devit" id="devit" name="group">
                    </div>
                    <div class="radio-group">
                        <label for="credit">Credit</label> <input type="radio"[formControl]="$any(form).controls['Status']" value="Credit" id="credit" name="group">
                    </div>
                </div>

                <div class="btn-grp">
                    <strong (click)="clearForm()">Clear</strong>
                    <strong (click)="update()" *ngIf="updateD">Update</strong>
                    <strong (click)="onSubmit()" *ngIf="!updateD">Submit</strong>
                </div>
            </form>
        </div>
    </div>
    <div class="tableDesign">
        <div class="form-hader search1">
            <div class="surch-header">
                <label for="name">Surch By Name From All Product List :</label>
                <input type="text" onkeyup="surching.searchFormTable('name','surchtable',1,'bank')" name="" id="name"
                    placeholder=" " />
            </div> 
        </div>

        <div class="table-design">
            <table id="surchtable" class="styled-table">
                <thead>
                    <tr> 
                        <td>Bank Type</td>
                        <td>Bank Name</td>
                        <td>Account No</td>
                        <td>Details</td>
                        <td>Amount</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of todaybankData">
                        <td>{{p.bankdetails.bank_type}}</td>                        
                        <td>{{p.bankdetails.bank_name}}</td>
                        <td>{{p.bankdetails.account_number}}</td>                  
                        <td>{{p.details}}</td>
                        <td>{{p.amount}}</td>
                        <td>
                            <i class="fa fa-edit"   (click)="setEditData(p)" ></i>
                            <i class="fa fa-trash" (click)="deleteproduct(p)"></i>
                        </td>
                    </tr>
                        
                </tbody>
            </table>
        </div>
        <div class="btn-grp">
            <span>Total Amount: <b>{{totalamount}}</b></span>
        </div>
    </div>
</div>