<simple-notifications></simple-notifications>
<div class="cards">
    <div class="card-items">
        <div class="card-item">
            <button routerLink="/employee/new"  class="btn btn-info"><i class="fa fa-plus"></i><span>New Employee</span> </button>
        </div>
        <div class="card-item">
            <button routerLink="/employee/employeeacc" class="btn btn-info"><i class="fa fa-money"></i><span>Employee Account</span>
            </button>
        </div>
        <div class="card-item">
            <button routerLink="/employee/employeesales" class="btn btn-info"><i class="fa fa-shopping-cart"></i> <span> Employee
                    Sales </span></button>
        </div>
        <div class="card-item">
            <button routerLink="/employee/allreport" class="btn btn-info"><i class="fa fa-calendar"></i> <span>Monthly
                    Report</span></button>
        </div>
        <div class="card-item">
            <button routerLink="/employee/report"  class="btn btn-info"><i class="fa fa-users"></i> <span> Employee
                    Report</span></button>
        </div>
    </div>
</div>
<router-outlet></router-outlet>