<div class="scroll-main-tableDesign">
    <div class="form-hader search2">
        <div class="surch-header">
            <label for="from">From :</label>
            <input type="date"
            #from (change)="fromProduct(from.value)"
            name="" id="from" placeholder=" " />
        </div>
        <div class="surch-header">
            <label for="to">To :</label>
            <input type="date"
            #to (change)="toProduct(to.value)"
            name="" id="to" placeholder=" " />
        </div>

    </div>
    <div class="table-design">
        <table class="styled-table">
            <thead> 
                <tr>
                    <td>Date</td>
                    <td>Bank Name</td>
                    <td>Account Number</td>
                    <td>Credit</td>
                    <td>Devit</td>
                    <td>Last Amount</td>
                </tr>
            </thead> 
            <tbody>
                <tr *ngFor="let p of alltableItem">
                    <td> {{p.date}}</td>
                    <td> {{p.bankdetails.bank_name}}</td>
                    <td> {{p.bankdetails.account_number}}</td>
                    <td> {{p.Credit}}</td>
                    <td> {{p.Devit}}</td>
                    <td> {{p.Credit-p.Devit}}</td>
                </tr>
            </tbody>
        </table>
    </div> 
    <div class="btn-grp invoicecas">
        <span>Total Credit: <b>{{totalcredit}}</b></span>
        <span>Total Devit: <b>{{totaldevit}}</b></span>
        <span>Last Amount: <b>{{totalcredit-totaldevit}}</b></span>
    </div>
</div>