<simple-notifications></simple-notifications>
<div class="cards">
    <div class="card-items">
        <div class="card-item">
            <button routerLink="/product/category"  class="btn btn-info"><i class="fa fa-plus"></i><span>Category Section</span> </button>
        </div>
        <div class="card-item">
            <button routerLink="/product/newproduct" class="btn btn-info"><i class="fa fa-product-hunt"></i><span>Product Section</span>
            </button>
        </div>
        <div class="card-item">
            <button routerLink="/product/purchasesreturn" class="btn btn-info"><i class="fa fa-undo"></i><span>Purchases Return</span>
            </button>
        </div>
        <div class="card-item">
            <button routerLink="/product/salesreturn" class="btn btn-info"><i class="fa fa-undo"></i><span>Sales Return</span>
            </button>
        </div>
    </div>
</div>
<router-outlet></router-outlet>