<div class="main-tableDesign">
    <div class="form-hader search">
        <div class="surch-header">
            <div class="dropdown">
                <div class="select"> 
                    <label for="invoiceno">Select Invoice No :</label>
                    <input id="invoiceno" onkeyup="surching.serrchFormDropDown('invoiceno','invoicelist')"
                        type="text" autocomplete="off" value="{{invoiceno}}">
                    <i class="fa fa-chevron-left"></i>
                </div>
                <ul id="invoicelist" class="dropdown-menu">
                    <li (click)="setInvoice('resresh')" >
                        <span>Refresh</span>
                    </li>
                    <li *ngFor="let p of allInvoices" (click)="setInvoice(p)" id="">
                        <span>{{p.Invoice_No}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div> 
    <div class="table-design">
        <table class="styled-table">
            <thead>
                <tr>
                    <td>Invoiec</td>
                    <td>Date</td>
                    <td>Total Item</td>
                    <td>Total Amount</td>
                    <td>Discount</td>
                    <td>Paid</td>
                    <td>Due</td>
                </tr>
            </thead>
            <tbody>
                <tr  *ngFor="let p of allTableItem">
                    <td>{{p.Invoice_No}}</td>
                    <td>{{p.Sales_Date}}</td>
                    <td>{{p.invoice_product.length}}</td>
                    <td>{{p.Total_Amount}}</td>
                    <td>{{p.Discount}}</td>
                    <td>{{p.Paid}}</td>
                    <td>{{p.Total_Amount-p.Discount-p.Paid}}</td>
                </tr>
            </tbody>
            <thead>
                <tr>
                    <td colspan="3">Invoiec</td>
                    <td>{{totalAmount}}</td>
                    <td>{{discount}}</td>
                    <td>{{paid}}</td>
                    <td>{{Due}}</td>
                </tr>
            </thead>
        </table>
    </div>
</div>